<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
  </head>
  <body>
    <h1>Who is David Goggins?</h1>
    <article>
      "David Goggins is a Retired Navy SEAL and is the only member of the U.S.
      Armed Forces to complete SEAL training (including two Hell Weeks), the
      U.S. Army Ranger School (where he graduated as Enlisted Honor Man) and Air
      Force Tactical Air Controller training."
    </article>
  </body>
</html>
