<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Achievments</h1>
    <article>
      "An accomplished endurance athlete, Goggins has completed over 60
      ultra-marathons, triathlons, and ultra-triathlons, setting new course
      records and regularly placing in the top five. He once held the Guinness
      World Record for pull-ups completing 4,030 in 17 hours, and he’s a sought
      after public speaker. Over the years, he’s shared his story with hundreds
      of thousands of students across the country, numerous professional sports
      teams, and the staff at Fortune 500 companies."
    </article>
  </body>
</html>
